<div class="container">
  <h2 class="thumbpoints-title">{{title}}</h2>
  <div class="row select-option">
  <div class="col-xs-12 col-sm-9">
    <h3>Location Post : P001A</h3>
  </div>
  <div class="col-xs-4 col-sm-1 viwe-option">
   <a (click)="firstoption()">
      <img src="../../../assets/images/Group1.png" />
    </a>   
  </div>
  <div class="col-xs-4 col-sm-1 viwe-option">
   <a  (click)="secondoption()"><img src="../../../assets/images/Group2.png" /></a>
  </div>
  <div class="col-xs-4 col-sm-1 viwe-option">
   <a  (click)="thirdoption()"><img src="../../../assets/images/Group3.png" /></a>
  </div>
  </div>

<div class="loading-img" *ngIf="loadingimg">
  <img class="loader" src="../../../assets/images/loader.gif" >
</div>
<div class="views-section" *ngIf="!loadingimg">

<div class="" *ngIf="selectfirstoption">
  <div class="row photo-points-space">
    <div class=" col-sm-3" >
        <h4>Year</h4> 
        <div class="row winter">
          <div class=" col-sm-6">
            <button class="btn btn-success">WINTER</button>
          </div>
            <div class="col-xs-6">
            <h4>view</h4> 
          </div>
          <div class="col-sm-6 col-sm-offset-6 photo-points-id" *ngFor="let winteryear of winterData">
            {{winteryear.view}}
          </div>              
        </div>
        <div class="row winter">
          <div class=" col-sm-6">
            <button class="btn btn-success">SUMMER</button>
          </div>
           <div class="col-xs-6">
            <h4>view</h4> 
          </div>
          <div class="col-sm-6 col-sm-offset-6 photo-points-id" *ngFor="let summer of summerData">
            {{summer.view}}
          </div>    
        </div>
        <div class="row winter">
          <div class="col-sm-6">
            <button class="btn btn-success">SPRING</button>
          </div>
          <div class="col-xs-6">
            <h4>view</h4> 
          </div>
           <div class="col-sm-6 col-sm-offset-6 photo-points-id" *ngFor="let spring of springData">
            {{spring.view}}
          </div> 
              
        </div>
        <div class="row winter">
          <div class="col-sm-6">
            <button class="btn btn-success">AUTUMN</button>
          </div>
            <div class="col-xs-6">
            <h4>view</h4> 
          </div>
          <div class="col-sm-6 col-sm-offset-6 photo-points-id" *ngFor="let autumn of autumnData">
            {{autumn.view}}
          </div>      
        </div>
    </div>
    <div class=" col-sm-9 year-winter-list" >
      <ul class="yearlist">
         <li  *ngFor="let year of years">
        <h4>{{year.year}}</h4>
        </li>
      </ul>
      <div class="space-photo-points"></div>
      <div class="row winter-img">
        <div class="" *ngFor="let winter of winterData" >
          <ul class="winterview-list">
            <li *ngFor="let mainyear of years" >
              <div class="" *ngFor="let imagesData of winter.data">
                <a *ngIf = "mainyear.year==imagesData.year" routerLink="../imagedetails" >
                  <img  src="{{imagesData.file_thumb_location_aws}}" /> 
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="space-photo-points"></div>
      <div class="row summer-img">
        <div class="" *ngFor="let summer of summerData" >
          <ul class="winterview-list">
            <li *ngFor="let mainyear of years" >
              <div *ngFor="let simagesData of summer.data">
                <a *ngIf = "mainyear.year==simagesData.year" routerLink="../imagedetails" >
                  <img  src="{{simagesData.file_thumb_location_aws}}" /> 
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="space-photo-points"></div>
      <div class="row spring-img">
        <div class="" *ngFor="let spring of springData" >
          <ul class="winterview-list">
            <li *ngFor="let mainyear of years" >
              <div *ngFor="let sprimagesData of spring.data">
                <a *ngIf = "mainyear.year==sprimagesData.year" routerLink="../imagedetails" >
                  <img  src="{{sprimagesData.file_thumb_location_aws}}" /> 
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>      
       <div class="space-photo-points"></div>
      <div class="row autumn-img">
        <div class="" *ngFor="let autumn of autumnData" >
          <ul class="winterview-list">
            <li *ngFor="let mainyear of years" >
              <div *ngFor="let aimagesData of autumn.data" id="{{aimagesData.id}}">
              <a *ngIf = "mainyear.year==aimagesData.year" routerLink="../imagedetails" >
                <img  src="{{aimagesData.file_thumb_location_aws}}" /> 
              </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>
</div>

<!-- === second option View when click on B Button=== -->

<div class="" *ngIf="selectsecondoption">
  <div class="row">
    <div class=" col-sm-3" >   
    <div class="row photo-pointssecond">
      <div class="col-sm-6">
        <h4>VIEW</h4>
      </div>
      <div class="col-xs-6">
        <h4>SEASON</h4> 
      </div>  
    </div>

    <div class="row second-view-space  text-center" *ngFor="let viewData of secondViewsData" >
       
      <div class=" col-sm-6 ">
        <p>{{viewData.view}}</p>
      </div>    
    
    <div class="col-sm-6 rightsectionview">
      <div class="row second-view-space text-center season-space" *ngFor="let seasonData of viewData.data">

        <div class="">
          {{seasonData.season}}
        </div>     
      </div>

    </div>
  </div>
  
</div>
  <div class="col-sm-9 year-winter-list " >
      <ul class="yearlist second-img-view">
        <li  *ngFor="let year of secondviewyears">
        <h4>{{year.year}}</h4>
        </li>
      </ul>

      <!-- Bsection Image section -->
    <div class="Bsectionview">
      
          <div class="row winter-img spring-view" *ngFor="let imagesData of secondViewImagesData">
            <div class="col-xs-12" >
               <ul class="winterview-list">
                 <li *ngFor="let secondviewyear of secondviewyears">
                  <div *ngFor="let mediainfo of imagesData.info">
                    <a *ngIf = "secondviewyear.year==mediainfo.year" routerLink="../imagedetails" >
                      <img src="{{mediainfo.file_thumb_location_aws}}" /> 
                    </a>
                  </div>
                  </li>
                </ul>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
<!-- === Third option View when click on C Button=== -->
<div class="" *ngIf="selectthirdoption">
   <div class="row photo-points-border">
      <div class=" col-sm-1" >   
      <div class="row photo-pointssecond">
        <div class="col-sm-12">
          <h4>VIEW</h4>
        </div>  
      </div>
      <div *ngFor="let viewData of thirdViewsData" class="row second-view-space season-space thirdview text-center">       
        <div class=" col-sm-6 ">
          <p>{{viewData.name}}</p>
        </div>    
      </div>
      
    </div> 
 
  <!-- === 3S00 view section by id=== -->
    <div class="col-sm-11 year-winter-list " >
      <ul class="yearlist-c second-img-view thirdoption-years">
        <li *ngFor="let year of thirdviewyears">
          <h4>{{year.year}}</h4>
        </li>
        
      </ul>

      <!-- Bsection Image section -->
      <div class="csectionview">
            <div class="row option-c-view">
              <div class="col-xs-12" >
               <div class="thirdoption-view" *ngFor="let viewData of thirdViewsData">
                  <ul class="winterview-list " [ngStyle]="{'width': '+thirdViewWidth+'}">
                    <li class="season-group" *ngFor="let years of thirdviewyears">
                      <!-- *ngFor="let imagesData of viewData.data" -->
                      <ul class=" list-view-c" *ngFor="let imagesData of viewData.data">
                        <div *ngIf="imagesData.year == years.year">
                          <li  *ngFor="let season of totalSeason"> 
                            <div  *ngFor="let seasonData of imagesData.data">
                              <a  *ngIf="season==seasonData.season" [routerLink]="['/imagedetails']">
                                <img src="{{seasonData.file_thumb_location_aws}}" />
                              </a>
                            </div>
                          </li>
                        </div>
                      </ul>
                    </li>    
                  </ul>
                </div>                
              </div>
            </div> 
        </div>
    </div>
</div>
</div>
</div>
</div>