<div class="container">
  <h2 class="thumbpoints-title">{{title}}</h2>
  <h3>Location Post : P001A</h3>
  <!-- === Its show heading of location post === -->
  <div class="row photo-points-space">
  	<div class="col-sm-1">
  	<h4>Year</h4>	
  	</div>
  	<div class="col-sm-1">
  	<h4>View</h4>
  	</div>
  	<div class="col-sm-2">
  	<h4>Winter</h4>		
  	</div>
  	<div class="col-sm-3">
  	<h4>Spring</h4>
  		
  	</div>
  	<div class="col-sm-3">
  	<h4>Summer</h4>
  		
  	</div>
  	<div class="col-sm-2">
  	<h4>Autumn</h4>	
  	</div>
  </div>
  <!-- === Its show description of location post === -->
  <div class="row photopoints-info">
    <div class="col-sm-1">
    <p>2012</p>
    </div>
    <div class="col-sm-1">
    <p>S300</p>
    </div>
    <div class="col-sm-2">
    <a routerLink="../imagedetails">
    <img src="../../../assets/images/photopoints-home5.jpg" /> </a>
    </div>
    <div class="col-sm-3">  
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
