<!-- === Project title === -->
<div class="container">
<div class="row">
<div class="col-sm-12">
  <h1 class="photopoints-logo">

    <a  routerLink="."> HWPhotoPoints.org.uk 
    <span class="photopoints-description">The Image Storage Site for Heartwood Forest Volunteers</span></a>
  </h1>
  </div>
  </div>
</div>
<!-- === nav section start ===-->

  <nav class="navbar navbar-default photo-nav">
      <div class="container">
      <div class="row">
      <!--=== Toggle header after 767 ===-->
      <div class="col-sm-12">
          <div class="navbar-header">
          <!-- === for mobile view === -->
          <div class="navbar-left hidden-sm hidden-md hidden-lg mobileview">
              <button type="submit" class="btn btn-success" *ngIf="serve.data"><a routerLink="login">Login</a></button>
              <button type="submit" (click)="logoutUser()" class="btn btn-success" *ngIf="!serve.data">Logout</button>
          </div>

          <div class="menu-toggle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-bars"></i>
            </button>
          </div>
      <!--=== nav link section start ===-->
            <div id="navbar" class="navbar-collapse collapse" *ngIf="!menuiconshow">
              <ul class="nav navbar-nav header-link">
                <li  routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a  >Home</a></li>
                <li routerLink="imageupload" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a>Image Upload</a></li>
                <li routerLink="photopoints" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a>Photo Points</a></li>
                <li routerLink="saplingsurvival" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a>Sapling Survival</a></li>
                <li routerLink="longterm" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a>Long Term</a></li>
              </ul>

      <!--=== login Sign-up button === -->
              <div class="navbar-right hidden-xs">
                <button type="submit" class="btn btn-success" *ngIf="serve.data"><a routerLink="login">Login</a></button>
                <button type="submit" (click)="logoutUser()" class="btn btn-success" *ngIf="!serve.data">Logout</button>
              </div>
            <!--/.nav-collapse -->
              </div>
             </div>
          </div>
      </div>
    </div>
</nav>

