.photopoints ul li
 a {
    color: #000;
}

.photopoints ul li {
    line-height: 30px;
}
.photopoints ul li a:hover {
    color: #104810;
}
.photopoints {
    margin-bottom: 35px;
}
.loader{
    max-width: 80px;
}
h2 {
    font-size: 32px;
    text-align: center;
    margin: 30px 0 40px 0;
    color: #246f24;
}
@media only screen and (max-width: 767px) {
    .photopointslink {
        text-align: center;
    }
    h2{
    font-size: 30px;
    margin: 20px 0 20px 0;
    }
    .photopointslink {
        border-bottom: 1px dashed #246f24;
        margin: 18px 0;
        padding: 0 16px;
    }

    .photopointslink:last-child {
        border: 0;
        margin: 0;
    }
}