<!-- === here are link for view === -->

<div class="container">
	<div class="row photopoints">
		<h2>Photo Points</h2>
		
		<div class="loading-img text-center" *ngIf="loadingimg">
		    <img class="loader" src="../../../assets/images/loader.gif" >
		  </div>
		<div class="col-sm-4 photopointslink" *ngIf="!loadingimg">
			<ul>
				<li *ngFor="let series of pageContent | slice:0:splitNumber ">
					<a routerLink="/thumbnailsphotos/{{series.post_name}}">CLICK HERE TO VIEW {{series.post_name}}</a>
				</li>
		
			</ul>	

		</div>
		<div class="col-sm-4 photopointslink" *ngIf="!loadingimg">
			<ul>
				<li *ngFor="let series of pageContent | slice:splitNumber:next ">
					<a routerLink="/thumbnailsphotos/{{series.post_name}}">CLICK HERE TO VIEW {{series.post_name}}</a>
				</li>
		
			</ul>	
			
		</div>
		<div class="col-sm-4 photopointslink" *ngIf="!loadingimg">
			<ul>
				<li *ngFor="let series of pageContent | slice:next">
					<a routerLink="/thumbnailsphotos/{{series.post_name}}">CLICK HERE TO VIEW {{series.post_name}}</a>
				</li>
		
			</ul>	
			
		</div>
		
	</div>
</div>