<!-- === here are link for view === -->

<div class="container">
	<div class="row photopoints">
		<h2>Photo Points</h2>
		<div class="col-sm-4 photopointslink">
			<ul>
				<li><a routerLink="../thumbnailsphotos">Click Here to View P001A</a></li>
				<li><a routerLink="">Click Here to View P001B</a></li>
				<li><a routerLink="">Click Here to View P002A</a></li>
				<li><a routerLink="">Click Here to View P003A</a></li>
				<li><a routerLink="">Click Here to View P004A</a></li>
				<li><a routerLink="">Click Here to View P004B</a></li>
				<li><a routerLink="">Click Here to View P005A</a></li>
				<li><a routerLink="">Click Here to View P006A</a></li>
				<li><a routerLink="">Click Here to View P007A</a></li>
			</ul>	
		</div>

		<div class="col-sm-4 photopointslink">
			<ul>			
				<li><a routerLink="">Click Here to View P008A</a></li>
				<li><a routerLink="">Click Here to View P009A</a></li>
				<li><a routerLink="">Click Here to View P0011A</a></li>
				<li><a routerLink="">Click Here to View P0014A</a></li>
				<li><a routerLink="">Click Here to View P0015A</a></li>
				<li><a routerLink="">Click Here to View P0016A</a></li>
				<li><a routerLink="">Click Here to View P0017A</a></li>
				<li><a routerLink="">Click Here to View P0018A</a></li>
				<li><a routerLink="">Click Here to View P0019A</a></li>
			</ul>
		</div>

		<div class="col-sm-4 photopointslink">
			<ul>
				<li><a routerLink="">Click Here to View P0020A</a></li>
				<li><a routerLink="">Click Here to View P0020B</a></li>
				<li><a routerLink="">Click Here to View P0021A</a></li>
				<li><a routerLink="">Click Here to View P0026A</a></li>
				<li><a routerLink="">Click Here to View P0027A</a></li>
				<li><a routerLink="">Click Here to View P0028A</a></li>
				<li><a routerLink="">Click Here to View P0029A</a></li>
				<li><a routerLink="">Click Here to View P0030A</a></li>
			</ul>			
		</div>
	</div>
</div>