<div class="container">
  <h2>Sapling Survival</h2>
  <div class="row photo-points-space">
  	<div class="col-xs-1">
  	<h4>View</h4>
  	</div>
  	<div class="col-xs-10">
      <ul class="saplingview ">
        <li class="text-center" *ngFor="let year of years">
          <h4>{{year.year}}</h4>
        </li>
        
      </ul>  			
  	</div>
  </div>
  <div class="row photopoints-info" *ngFor="let postData of seriesData">
    <div class="col-xs-1">
      <p>{{postData.view}}</p>
    </div>
    <div class="col-xs-10">
      <ul class="saplingview">
        <li  *ngFor="let year of years">
          <div  *ngFor="let imageData of postData.data">  
            <a *ngIf = "year.year==imageData.year" [routerLink]="['/imagedetails',imageData.id]">
              <img src="{{imageData.file_thumb_location_aws}}" />
            </a>
        </div>
        </li>
        
      </ul>
    </div>
  </div>
 
</div>
