

<div class="container">
	<div class="row" *ngIf="userPermissions">
		<div class="col-sm-8">
		<h2>Image Upload</h2>
		</div>
		<!-- <div class="col-sm-2 text-right" >
			<a class="btn btn-success  batchupload" routerLink="/batchimagesupload" >Batch Upload</a>
		</div> -->
		<div class="col-sm-2 text-right" >
			<a class="btn btn-success  batchupload" routerLink="/batchuploadcsv" >Batch Upload</a>
		</div>
	</div>
	
	<div class="row" *ngIf="!imageUploded">
		<p class="text-center msg" > {{message}}</p>
		<div *ngIf="userPermissions">
		<form #imageinfo="ngForm"  (ngSubmit)="onSubmit(imageinfo.value)" >
			<div class="col-sm-4 photo-id form-group text-center">
			<!-- === select file (note:if we want single image select remove multiple in input) === -->
				<input name="myFile" #fileInput class="image-upload" type="file" hidden (change)="uploadFile($event)" ngModel accept="image/*" />
				<div class="choose-file">
				<p><i class="fa fa-cloud-upload" aria-hidden="true"></i></p>
				<a (click)="chooseFileEnable()"  class="btn btn-success">Choose File</a>
					<div class="img-info">
						<img [src]="logo">
						<p>{{name}}</p>
					</div>
				</div>
			</div>
			
			<!-- === select serise and more option === -->
			<div class="col-sm-8 imgselectoption" *ngIf="!uploadValidation" >
				
				<div class="form-group">      
				<div *ngIf="imageUplodedStatus" class="selectseriesoption">
					<select name="series" class="select" placeholder="Series" #seriesType (change)="onItemChange(seriesType.value)" ngModel>
					  <option value="">--Select Series--</option>
					  <option value="P">P</option>
					  <option value="S">S</option>
					  <option value="L">L</option>
					</select>
					</div>
				</div>
			

			<!-- === These select input show when above select choose any option === -->
			<div class="form-group">      
				<select name="year" class="select select-year" #year *ngIf="selectyearoption" (change)="onyearChange(year.value)" ngModel>
				  <option value="">--Select year--</option>
				  <option *ngFor="let year of allYears; let i = index" value="{{year}}">{{year}}</option>
				</select>
			</div>
			<div class="form-group">      
				<select name="Season" class="select select-year" #season *ngIf="selectspringoption" (change)="onSeasonChange(season.value)" ngModel>
				  <option value="">----Select Season----</option>
				  <option value="WIN">Winter</option>
				  <option value="SPR">Spring</option>
				  <option value="SUM">Summer</option>
				  <option value="AUT">Autumn</option>
				</select>
			</div>
			<div class="form-group">      
				<select name="Location" class="select select-year" #location *ngIf="selectlocationoption" (change)="onLocationChange(location.value)" ngModel>
				  <option value="">----Select Location----</option>
				  <option *ngFor="let post of allPosts; let i = index" value="{{post.title}}">{{post.title}}</option>
				  
				</select>
			</div>

			<div class="form-group">      
				<select name="Image" class="select select-year" #imageType *ngIf="selectimagetype" (change)="onImageChange(imageType.value)" ngModel>
				  <option value="">----Select Image Type----</option>
				  <option *ngFor="let type of allImageType; let i = index" value="{{type}}">
				  		<span *ngIf="type == 'PAN'">Panorama</span>
				  		<span *ngIf="type == 'SNG'">Single</span>
				  </option>
			
				</select>
			</div>

			<div class="form-group">      
				<select name="View" class="select select-year" #view *ngIf="selectview" (change)="onViewChange(view.value)" ngModel>
				  <option value="">----Select View----</option>
				  <option *ngFor="let values of allvalues; let i = index" value="{{values}}">{{values}}</option>
				</select>
			</div>


				<div class="form-group form-controls">
					<img class="loader" src="../../../assets/images/loader.gif" *ngIf="loadingimg">
					<!-- === Button for save and cancle the process === -->
					<button [disabled]="disabledButton" type="submit" class="btn btn-success pull-right" *ngIf="formSubmit"><a>save</a></button>
					<button type="" class="btn btn-success pull-right cancel"  *ngIf="imageUplodedStatus"><a routerLink="">cancel</a></button>
				</div>
			</div>
		</form>
		</div>
	</div>


	<!-- When Image uploaded successfully -->
	<div class="row" *ngIf="imageUploded">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-12 ">
				<p>Username: Developer</p>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-12 ">
				<span>File uploaded successfully with following details.</span>
				<br><br>
			</div>		
			<div class="col-xs-4 filename">
				<label>File Name:</label>
				<div class="response-data">
					<span>{{fileUrl}}</span>
				</div>
			</div>	
			<div class="col-xs-6 filename">
				<label>Uploaded Image:</label>
				<div class=" response-img">
					<img src="{{fileUrl}}"/>
				</div>
			</div>	
		</div>	

	</div>
	<div class="row uploaded-links" *ngIf="imageUploded">
		<div class="col-xs-10 col-xs-offset-1 " >
			<a class="btn btn-success" routerLink="/imagedetails/{{imageId}}" >View Full Details</a>
			<a class="btn btn-success" (click)="AddAnotherImage()">Add Another Image</a>
			<a class="btn btn-success" routerLink="">Back to Home Page</a>
		</div>	
	</div>	
</div>
