h2 {
    font-size: 32px;
    text-align: center;
    margin: 30px 0 40px 0;
    color: #246f24;
}
.row.imagedawnload p {
    font-weight: bold;
    font-size: 18px;
}

.row.imagedawnload {
    margin-bottom: 20px;
}

.row.imagedawnload a {
    color: #246f24;
    font-size: 16px;
}

.row.imagedawnload a{
    margin-right: 9px;
    border-right: 2px solid #246f24;
    padding-right: 10px;
}
.row.imagedawnload a:last-child {
    border-right: 0;
}

.row.imagedawnload a:hover {
    color: #000;
}
.row.imagedetails {
    margin-top: 25px;
    margin-bottom: 20px;
}
.row.imagedetails a {
    color: #246f24;
    font-size: 17px;
}
.row.imagedetails ul li {
    line-height: 28px;
}
@media only screen and (max-width: 767px) {

    h2{
        font-size: 30;
        margin: 20px 0;
    }
    .imagedawnload .col-xs-12 {
        text-align: center; 
    }
}