<div class="container">
  <h2 class="thumbpoints-title">{{title}}</h2>
  <div class="row imagedawnload">
	  <div class="col-xs-8">  
	  	<p>2016-WIN-P-P001A-SNG-S330</p> 
	  </div>
	  <div class="col-xs-4">  
	  	<a>Delete Image</a> 
	  	<a>Download Image</a> 
	  </div>
	</div>
	<div class="row">
		<img src="../../../assets/images/photopoints-home5.jpg" />
	</div>
	  <div class="row imagedetails">
		  <div class="col-xs-6">  
		  	<a  (click)="showExifdata()" >Show Exif Data</a> 
		  	<ul *ngIf="exifData">
		  		<li>FILE.FileName: 2016-WIN-P-P001A-SNG-S330.JPG</li>
				<li>FILE.FileDateTime: 0<li>
				<li>FILE.FileSize: 13405508</li>
		  	</ul>
		  </div>
		  <div class="col-xs-6">  
		  	<a  (click)="showFiledata()" >Show File Data</a> 
		  	<ul *ngIf="fileData">
		  		<li>id: 268</li>
				<li>0: 268<li>
		  	</ul>
		  </div>
	</div>
</div>
