.choose-file .fa {
    font-size: 33px;
    border: 1px solid #246f24;
    padding: 15px;
    border-radius: 50%;
    margin: 0 0 28px 0;
    color: #999696;
}
.btn {
    padding: 11px 22px;
    font-size: 16px;
    border-radius: 3px;
}
button a{
    color: #fff;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0 50px 0;
    color: #246f24;
}
.image-upload{
    display: none;
     padding: 20px;
    border: 1px solid #cfcdcd;
    font-size: 18px;
    color: #246f24;
}
.select {
    width: 65%;
    margin: 0 10px 20px 0;
    outline: 0;
    padding: 5px;
}
.save-cancle button {
    margin: 0 25px 0 0;
}
.img-info img {
    width: 150px;
    vertical-align: text-top;
}
.img-info {
    margin: 20px 0 0 0;
}
img.loader {
    max-width: 50px;
}
.form-group.form-controls {
    max-width: 65%;
}
.pull-right.cancel {
    margin: 0 20px 0 0;
}
.response-data span {
    word-break: break-all;
}
.response-img img {
    max-width: 300px;
    max-height: 300px;
}
.uploaded-links {
    margin-top: 20px;
}
.uploaded-links a {
    color: #fff;
    margin-right: 10px;
}
.msg{
    color: red;
}
/*---=== Media Query Start Here ---===*/
@media only screen and (max-width: 992px) {
    .imgselectoption .btn{
        padding: 6px 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .imgselectoption {
        text-align: center;
        margin-top: 25px;
    }
    h2{
        margin: 20px 0;
    }
}

@media only screen and (max-width: 420px) {
    .select{
    width: 100%;
    margin: 0 10px 20px 0;
}
}