.login-email {
    position: relative;
}

.login-email .fa {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 25px;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}
.login-title {
    text-align: center;
    text-transform: uppercase;
    color: #246f24;
    font-size: 32px;
    font-weight: 500;
    margin-top: 35px;
}
.password-recover {
    width: 50%;
    background-color: #f8f8f8;
    padding: 10px 30px 40px;
    margin: 45px auto;
}
.password-recover p {
    margin: 17px 0;
    line-height: 25px;
}
.form-group button {
    text-align: center;
    margin: 15px 0 0 0;
}
.form-control.ng-valid {
  border: 1px solid #42A948;
border-left: 5px solid #42A948!important; /* green */
}

.form-control.ng-invalid:not(form)  {
  border: 1px solid #a94442;
    border-left: 5px solid #a94442!important; /* red */
}