
<div class="container password-recover">
  <h2 class="login-title">{{title}}</h2>

<p>
 Enter the username or email address you used when you created your account and we will send you further instructions.
</p>
    <form #passwordinfo="ngForm"  (ngSubmit)="onSubmit(passwordinfo.value)">
      <div class="form-group login-email">
        <input type="email" #email placeholder="email" class="form-control" id="email" required name="email" ngModel>
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>

    <!-- === Link For Login and Sign Up === -->
    	<div class="form-group">
          <button type="submit" class="btn btn-success"> Send instructions</button>
    	</div>
    </form>
</div>