<!-- === recover-password === -->
<div class="container password-recover">
  <h2 class="login-title">{{title}}</h2>
  <p>Enter the username or email address you used when you created your account and we will send you further instructions.
  </p>
<!--=== Email for recover-password ===-->
  <form [formGroup]="passwordinfo"  (ngSubmit)="onSubmit(passwordinfo.value,passwordinfo.valid)">
    <p class="loginerror">{{error}}</p>
      <p class="loginerror">{{success}}</p>
     <div class="form-group login-email">
      <input type="email" placeholder="email" class="form-control" id="email" name="email" formControlName="email">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  <!-- === send instruction ===-->
  	<div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!passwordinfo.valid"> Send instructions</button>
  	</div>
  </form>
</div>