.choose-file .fa {
    font-size: 33px;
    border: 1px solid #246f24;
    padding: 15px;
    border-radius: 50%;
    margin: 20px 0 20px 0;
    color: #999696;
}
.btn {
    padding: 11px 22px;
    font-size: 16px;
    border-radius: 3px;
}
button a{
    color: #fff;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0 30px 0;
    color: #246f24;
}
.image-upload{
    display: none;
     padding: 20px;
    border: 1px solid #cfcdcd;
    font-size: 18px;
    color: #246f24;
}
.select {
    width: 65%;
    margin: 0 10px 20px 0;
    outline: 0;
    padding: 5px;
}
.save-cancle button {
    margin: 0 25px 0 0;
}
.img-info img {
    width: 150px;
    vertical-align: text-top;
}
.img-info {
    margin: 20px 0 0 0;
}
img.loader {
    max-width: 50px;
}
.form-group.form-controls {
    max-width: 65%;
}
.pull-right.cancel {
    margin: 0 20px 0 0;
}
.response-data span {
    word-break: break-all;
}
.response-img img {
    max-width: 300px;
    max-height: 300px;
}
.uploaded-links {
    margin-top: 20px;
}
.uploaded-links a {
    color: #fff;
    margin-right: 10px;
}
.batchupload {
    margin-top: 35px;
}

.images-list li{
    display: inline-block;
    width: auto;
    max-width: 250px;
    padding:  0 20px;
}

.controls-area{
    padding: 30px 0;
}
.after-upload p{
    color: #246f24;
    font-size: 16px;
}
.msg{
    color: red;
}
/*.choose-file {

    margin: 30px 0 0;
}
*/
.batch-img {
    margin: 60px 0 0 0;
    
}

.photo-id {
    text-align: center;
}
.btn-success, .btn-success:focus {
    background-color: #255625;
    border-color: #255625;
    margin: 0 5px 0;
    outline: 0;
}
.tab-btn .btn-success.active{
    background-color: #265726;
    color: #fff;
}

.tab-btn .btn{
    padding: 10px 18px;
    font-size: 14px;
    background: #f9f9f8;
    color: #000;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 0;
}
.after-upload{
    margin-top: 30px;
}
.dwn {
    color: green;
    margin-left: 10px;
    font-weight: bold;
}
.error{
    color: red;
    margin-top: 20px;
}
.instruction ul {
    padding: 0;
    list-style-type: circle;
    margin: 0 0 30px;
}
.instruction h4 {
    font-size: 16px;
    font-weight: bold;
}
.tabs-section {
    background: #efefef;
        float: left;
    width: 100%;
    padding: 0 0 50px 0;
}

.tab-btn {
    border-bottom: 2px solid #fff;
}
.file-show{
    margin: 0;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #255625;
    text-align: right;
    color:#fff;
    font-weight: bold;
}
.progress {
    max-width: 700px;
    margin: 0 auto;
}