<!-- === Login page === -->
<div class="container ">
  <h2 class="login-title">{{title}}</h2>
</div>
<div class="container loginpage-layout">
  <!-- === Enter Email and Password for Login === -->

      <p class="loginerror">{{error}}</p>
      <p class="loginerror">{{success}}</p>
    <form [formGroup]="resetinfo" (ngSubmit)="onSubmit(resetinfo.value,resetinfo.valid)" *ngIf="formVaidate">
      <div class="form-group login-email">
        <input type="password" placeholder="Password" class="form-control" id="email" name="password" formControlName="password">
         <i class="fa fa-lock" aria-hidden="true"></i>
      </div>
      <div class="form-group login-password login-email">
        <input type="password" placeholder="Confirm Password" class="form-control" id="password" name="cpassword" formControlName="cpassword">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </div>
    
    <!-- === Link For Login and Forget-Pasword === -->
     	<div class="form-group login-signup-link">
  	      <button type="submit" class="btn btn-success" [disabled]="!resetinfo.valid">Submit</button>
          <a class="btn btn-success"  routerLink="/login">Login</a>
    	</div>

    </form>
 </div>