.checkbox input[type=checkbox]{
    position: static;
    margin-left: 0px;
}
form.ng-pristine  .form-control {
  border: 1px solid #afaaaa!important;
}
.form-group.login-signup-link a {
    color: #fff;
}

.form-control.ng-valid {
  border: 1px solid #42A948;
border-left: 5px solid #42A948!important; /* green */
}

.form-control.ng-invalid:not(form)  {
  border: 1px solid #a94442;
    border-left: 5px solid #a94442!important; /* red */
}
.error{
  padding: 12px;
  color: red;
}
.loginerror {
    color: #c30606;
    text-transform: capitalize;
    font-size: 16px;
}
.login-email {
    position: relative;
}

.login-email .fa {
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 25px;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}
.form-control {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    text-transform: capitalize;
}
.loginpage-layout {
    background-color: #f8f8f8;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 40px;
    width: 40%;
}
.checkbox{
    text-align: center;
}
.login-signup-link {
    text-align: center;
}
.form-group.row.checkbox span {
    vertical-align: text-bottom;
    margin: 0 0 0 5px;
}

.login-signup-link
 .btn {
    width: 49%;
    font-size: 14px;
    height: 40px;
    border-radius: 0;
}
.login-signup-link:after {
   content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: auto;
    background: #f8f8f8;
    width: 40px;
    border-radius: 50%;
    height: 42px;
    line-height: 47px;
}
.login-signup-link{
    position: relative;

}
.login-signup-link a{
    line-height: 25px;
}
.checkbox{
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-title {
    text-align: center;
    text-transform: uppercase;
    color: #246f24;
    font-size: 32px;
    font-weight: 500;
    margin-top: 25px;
}
.form-group {
    margin-bottom: 30px;
}
/*---===Media Query Start Here---===*/
@media only screen and (max-width: 992px) {
    .loginpage-layout{
        width: 60%;
    }
}
@media only screen and (max-width: 767px) {
    .loginpage-layout{
        width: 100%;
    }
    .login-signup-link
 .btn {
    width: 49%;
    font-size: 12px;

}
}
@media only screen and (max-width: 370px) {
.login-signup-link:after {
    width: 20px;
}
}